<ion-header>
  <ion-navbar color="primary-dark">
    <ion-title>Artículos Reclamo</ion-title>
    <ion-buttons right>
      <button ion-button (click)="Enviar()">
        <ion-icon class="size-20" name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="detalleReclamoList">
    <ion-item-sliding *ngFor="let detalle of detalleReclamoList" #item>
        <button ion-item (click)="showPrompt(detalle)">
            <h2>{{ detalle.articulo.scanning }}</h2>
            <p>{{ detalle.articulo.descripcion }}</p>
            <p *ngIf="detalle.tipoReclamo" class="text-success">{{ detalle.tipoReclamo.descripcion }}</p>
            <p *ngIf="detalle.cantidad" class="text-success">Unidades: {{ detalle.cantidad }} </p>
        </button>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="QuitarArticulo(detalle)">
            <ion-icon name="trash"></ion-icon> Quitar
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
