<ion-header>
  <ion-navbar color="primary-dark">
    <ion-title>Detalle Reclamo</ion-title>
  </ion-navbar>
</ion-header> 

<ion-content>

  <div>
  <ion-segment [(ngModel)]="segmento">
    <ion-segment-button value="articulos">
      Artículos
    </ion-segment-button>
    <ion-segment-button value="imagen">
      Imágenes
    </ion-segment-button>
  </ion-segment>
  </div>
  
  <div [ngSwitch]="segmento">
    <ion-list *ngSwitchCase="'articulos'">
      <button ion-item *ngFor="let item of detalleReclamoList" (click)="presentActionSheet(item)">
        <h2>{{item.articulo.descripcion}}</h2>
        <p>{{item.articulo.idArticulo}}</p>
        <p>Unidades: {{item.cantidad}} Bultos: {{item.cantidad / item.uxb | number:'.0-2'}} </p>
        <p item-end>{{item.estado}}</p>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'imagen'">
      <ion-item *ngFor="let item of imagenes">
        <ion-thumbnail item-start>
          <img src="{{item.ruta}}" imageViewer *ngIf="item.imagen">
          <img src="assets/imgs/files.png" *ngIf="!item.imagen">
        </ion-thumbnail>
        <h2>{{item.articulo}}</h2>
      </ion-item>
    </ion-list>
  </div>

</ion-content>